*{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body,html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #040d13;
    color: white;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}
@font-face{
    src: url("../fonts/BebasNeue-Regular.ttf");
    font-family: "Bebas";
}
label{
    cursor: pointer;
}
input[type=checkbox]{
    display: none;
}
p{
    font-family: ariel, sans-serif;
    font-size: 1.6rem;
}
h1,h2,h3,h4,h5,h6{
    font-size: 3rem;
    font-family: "bebas";
}
h1{
    margin: 4rem 0 4rem 0;
    text-align: right;
}
h1 span{
    font-size: 13.9rem;
    line-height: 10.5rem;
    margin: 0 0.5rem 0 0;
}
h2{
    font-size: 6rem;
    line-height: 6rem;
    border-bottom: 0.5rem solid #fff;
    display: inline-block;
    padding: 0 0 0 1.5rem;
    margin: 0 0 1.5rem 0;
    letter-spacing: 0.15rem;
}
h3{
    font-family: arial, sans-serif;
    font-size: 2.5rem;
    line-height: 2.9rem;
    font-weight: bold;
}
#topBorder{
    height: calc(7.5rem - 3rem);
    width: calc(100% - 3rem);
    padding: 1.5rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,040d13+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #040d13 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 0%,#040d13 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 0%,#040d13 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#040d13',GradientType=0 ); /* IE6-9 */
}
#topBorder img{
    height: 4.5rem;
}
#banner{
    width: 100%;
    height: calc(100vh - 7.5rem);
    position: relative;
}
#banner::after{
    content: ' ';
    width: 100%;
    height: 3rem;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #040d13 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 0%,#040d13 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 0%,#040d13 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#040d13',GradientType=0 ); /* IE6-9 */
    float: left;
}
#banLogo{
    position: absolute;
    bottom: 0.6rem;
    left: 0;
    opacity: 0.4;
}
#banner img,.bannerImg{
    width: 100%;
    float: left;
}
/* collaps / modal*/
#starterCon,
#mainCon,
#dessertCon,
#drinksCon,
#sidesCon{
    height: auto;
    width: 100%;
    overflow: hidden;
}
#starters:checked ~ #starterCon,
#main:checked ~ #mainCon,
#dessert:checked ~ #dessertCon,
#drink:checked ~ #drinksCon,
#sides:checked ~ #sidesCon{
    height: 0;
    padding: 0;
}
/* Dishes */
.dishContainer{
    width: 34.7rem;
    margin: 0 auto 1.5rem auto;
}
.rating{
    font-size: 1.6rem
}
.dishImgCon img{
    width: 100%;
    height: auto;
}
.dishImgCon{
    width: 100%;
    height: 23.0rem;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    border: 0.1rem solid white;
    box-sizing: border-box;
    float: left;
    position: relative
}
.pDiscount,.pFull{
    position: absolute;
    font-family: arial, sans-serif;
    font-weight: bold;
}
.pFull {
    bottom: 0;
    right: 1.5rem;
    font-size: 4rem;
    /* text-shadow: 0.2rem 0.2rem 0 #000; */
    line-height: 3rem;
    padding: 0.7rem 0.5rem 1.5rem 0.7rem;
    background: rgba(0,0,0,0.8);
    border-radius: 1rem 1rem 0 0;
}
.pDiscount {
    bottom: 5.5rem;
    right: 0;
    font-size: 2rem;
    color: white;
    background: rgba(0,0,0,0.8);
    display: block;
    float: right;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    font-style: italic;
    border-radius: 1rem 0 0 1rem;
}
.allergi{
    float: left;
}
.vegi{
    float: right;
}
.allergi span,.vegi span{
    font-family: bebas;
    font-size: 1.6rem;
    color: black;
    padding: 0.5rem;
    background: white;
    display: inline-block;
}
.infoCon{
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
    float: left;
}
.shortD{

    display: block;
    width: 100%;
    margin: 0 0 1.5rem 0;
}
.soldOut{
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 26% 0 27% 0;
    background: rgba(0,0,0,0.8);
    font-family: bebas;
    font-size: 4rem;
    z-index: 1;
    border-radius: 1rem 1rem 0 0;
}
.hide{
    display: none;
}
@media (min-width: 768px){
    #banLogo{
        top: 0;
        width: 81% !important
    }
    #banner {
        height: auto;
    }
    h1 span {
        display: block
    }
    #starterCon, #mainCon, #dessertCon, #drinksCon, #sideordersCon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    }
    .dishContainer {
        float: left;
        break-inside: avoid;
    }
}@media (min-width: 1280px){
    #banLogo{
        width: 62% !important
    }
    #banner {
        height: auto;
    }
    h1 span {
        font-size: 30rem;
        line-height: 22.7rem;
    }
#starterCon, #mainCon, #dessertCon, #drinksCon, #sideordersCon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    margin: 0 auto 0 auto;
    width: 87%
    }
    .dishContainer {
        float: left;
        break-inside: avoid;
    }
    h2 {
        padding: 0 0 0 8.5rem;
    }
}
@media (min-width: 1920px){
    #banLogo {
    width: 56% !important;
    }
    #starterCon, #mainCon, #dessertCon, #drinksCon, #sideordersCon {
        width: 57%;
    }
    h2 {
        padding: 0 0 0 41.5rem;
    }
    .bannerImg {
        width: 57%;
        width: 57%;
        float: left;
        margin-left: 21%;
    }
    h1 span {
        margin: 0 22% 0 0;
    }
}
